html {
  scrollbar-gutter: stable;
}

body {
    background-color: lavender;
    font-family: "Outfit", sans-serif;
}

[hidden] {
    display: none !important;
}

#main-content {
    background-color: white;
    max-width: 1200px;
    width: 80%;
    margin: 25px auto 25px;
    padding: 10px 40px 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 5px;
}

header #name {
    margin-top: 5px;
    font-weight: bold;
}

header hr {
    background-color: black;
    border-color: black;
}

header h2 {
    font-size: 26px;
    margin-bottom: 0;
}

#tabs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

#tabs button {
    background-color: white;
    font-family: inherit;
    padding: 6px 12px;
    font-size: 1.2em;
    cursor: pointer;
}

#tabs button[aria-selected="true"] {
    background-color: gray;
}

#main-topic-title {
    font-size: 22px;
    text-decoration: underline;
}

.main-topic {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.topic {
    border: 2px solid teal;
    margin-bottom: 10px;
    border-radius: 18px;
    background-color: whitesmoke;
    padding: 0 20px;
    width: 325px;
}

.topic h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.topic a {
    color: teal;
    text-decoration: none;
}

.topic a:visited {
    color: teal;
}

.topic a:hover {
    color: lightseagreen;
}

.topic a:active {
    color: lightseagreen;
}

.workshop-badge, .lab-badge {
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8em;
    margin-left: 6px;
}

.workshop-badge {
    background-color: rgb(85, 181, 236);
    color: white;
}

.lab-badge {
    background-color: rgb(126, 204, 96);
    color: white;
}