body {
    background-color: lavender;
    font-family: "Outfit", sans-serif;
}

#main-content {
    background-color: white;
    max-width: 1200px;
    width: 80%;
    margin: 25px auto 25px;
    padding: 10px 40px 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
}

#main-content header h1 {
    margin-bottom: 5px;
}

#main-content header #name {
    margin-top: 5px;
    font-weight: bold;
}

#main-content hr {
    background-color: black;
    border-color: black;
}

#main-content h2 {
    font-size: 26px;
    margin-bottom: 0;
}

#main-content #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.main-topic h3 {
    font-size: 22px;
    text-decoration: underline;
}

.topic {
    border-style: solid;
    border-color: teal;
    border-width: 2px;
    margin-bottom: 10px;
    border-radius: 18px;
    background-color: whitesmoke;
    padding: 0 20px;
}

.topic h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.topic a {
  color: teal;
}

.topic a:visited {
  color: teal;
}

.topic a:hover {
  color: lightseagreen;
}

.topic a:active {
  color: lightseagreen;
}

.workshop-badge, .lab-badge {
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 0.8em;
    margin-left: 6px;
}

.workshop-badge {
    border: 1px solid rgb(89, 147, 255);
    color: rgb(89, 147, 255);
}

.lab-badge {
    border: 1px solid rgb(109, 173, 107);
    color: rgb(109, 173, 107);
}