body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

footer {
  background-color: beige;
  text-align: center;
  padding: 24px;
}

footer div {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  padding: 0;
}