body {
  font-family: sans-serif;
  flex-direction: column;
  justify-items: center;
  background-color: rgb(159, 194, 222);
  padding-top: 15vh;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(86, 67, 86);
  border-radius: 8px;
  padding: 25px 50px;
  box-shadow: 2px 2px 4px rgb(42, 42, 42);
}

#text-input {
  height: 75px;
  width: 200px;
  font-size: 1.3em;
}

#char-count {
  background-color: white;
  padding: 8px 12px;
  margin-bottom: 0;
  border-radius: 8px;
}