body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(219, 216, 212);
}

.item-list {
  list-style: none;
  padding: 0;
  background-color: rgb(232, 232, 232);
  border-radius: 8px;
  box-shadow: 6px 6px rgb(171, 171, 171);
}

.item-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
  border-bottom: 1px solid gray;
  margin: 12px;
}

.favorite-icon {
  border: none;
  background-color: inherit;
  font-size: 1.3em;
  cursor: pointer;
}

.filled {
  color: red;
}