body {
  font-family: georgia, sans-serif;
  padding: 20px;
  background-color: rgb(246, 236, 236);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selection-div {
  margin-bottom: 24px;
}

#weather-select {
  font-family: inherit;
  padding: 2px;
}

#get-weather-btn {
  margin-left: 30px;
  background-color: rgb(91, 91, 91);
  color: white;
  font-family: inherit;
  padding: 2px 8px;
}

#weather-wrap {
  background-color: rgb(120, 120, 154);
  width: 100%;
  max-width: 600px;
  height: 230px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 3px solid black;
}

#weather-div {
  display: none;
  color: white;
}

#condition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 1.4em;
  font-weight: bold;
}

#location {
  margin-right: 24px;
}