body {
  font-family: georgia, sans-serif;
  padding: 20px;
  text-align: center;
}

#selection-div {
  margin-bottom: 24px;
}

#weather-select {
  font-family: inherit;
  padding: 2px;
}

#get-weather-btn {
  margin-left: 30px;
  background-color: rgb(91, 91, 91);
  color: white;
  font-family: inherit;
  padding: 2px 8px;
}

#weather-wrap {
  background-color: rgb(91, 91, 125);
  width: 100%;
  height: 280px;
  padding: 20px;
  box-sizing: border-box;
}

#weather-div {
  display: none;
  color: white;
}