body {
  margin: 16px;
  text-align: center;
  background-color: rgb(232, 232, 232);
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.basic-plan {
  order: 0;
  background-color: rgba(244, 185, 91, 0.25);
}

.pro-plan {
  order: 1;
  flex-grow: 2;
  background-color: rgba(244, 185, 91, 0.5);
}

.premium-plan {
  order: 2;
  background-color: rgba(244, 185, 91, 0.75);
}